<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 <script src="https://cdn.auth0.com/js/auth0/9.11/auth0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Naia Example Login</title>
  <style>
    input, button {
      width: 200px;
    }
  </style>
</head>
<body>
    <br>
    Login:<br>
    <input type="text" id="username">
    <br>
    Password:<br>
    <input type="password" id="password" value="">
    <br>
    <br>
    <button onclick="login()">Login</button>
</body>
<script>
  var webAuth = new auth0.WebAuth({
    domain:      "<%= AUTH0_DOMAIN %>",
    clientID:    "<%= AUTH0_CLIENT %>",
    responseType: 'token id_token',
    redirectUri: `${window.location.origin}/login`
  });
  window.onload = () => {
    handleCallback();
    window.location.hash = '';
  }
  function login(){
    webAuth.login({
      realm: 'Username-Password-Authentication',
      username: document.getElementById('username').value,
      password: document.getElementById('password').value,
  }, (err, authResult) => {
      saveToken('', '')
      console.error(err)
  });
  }
function saveToken(accessToken, idToken) {
    // Saves user access token and ID token into local storage
    localStorage.setItem('access_token', accessToken);
    localStorage.setItem('id_token', idToken);
    console.log(`you can use the id_token as a Bearer token`);

    // For React native Webview
    // window.postMessage(`access_token#${accessToken}`);
    // window.postMessage(`idToken#${idToken}`);
}

function handleCallback(){
  const hashUrl = window.location.hash;
    const hash = hashUrl.substring(1, hashUrl.length);
    const data = {};
    hash.split('&').map(kp => {
      const keypair = kp.split('=');
      data[keypair[0]] = keypair[1];
    })
    saveToken(data.access_token, data.id_token);
}

</script>
</html>
